/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: #3F3F3F;
    font-size: 24px;
    height: 100%;
    scroll-behavior: smooth;
}
/* reset */
/* body */
body{
    margin: 0;
    padding: 0;
    background-color: #3F3F3F;
    height: 100vh;
    justify-content: center;

}
a{
    color: #00e897;
    text-decoration: none;
    margin: 10px 11px 10px 11px;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
header {
    text-align: center;
    background-color: #00e897;
    width: 100%;
    margin: auto;
    padding: 5px 0px 5px 0px;
    border: 2px solid white;
}
header a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 3rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    background-color: grey;
    border: 2px solid white;
    border-radius: 25px;
    width: 80%;
    max-width: 50vh;
    height: 50vh;
    padding: 2.5vh;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
img{
    width: 50%;
    max-width: 950px;
}
article{
    text-align: center;
}
h1, h2, p{
    color: rgb(255, 255, 255);
    padding: 2.5vh;
}
/* box animation */
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-gap: 1rem ;
    padding: 1.5rem;
}
.card {
    background-color: grey;
    border: none;
    border-radius: 15px;
    width: 80%;
    max-width: 70vh;
    height: 70vh;
    padding: 2.5vh;
    margin: auto;
    margin-top: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.card h2, .card a{
    position: relative;
}
/* pictures */
.pictures {
    display: grid;
    margin: 50px;
    padding: 50px;
    width: 50%;
    border: 3px solid;
    grid-template-columns: auto auto auto;
}        
.picture{
    height: 80%;
    max-height: 700px;
    width: 50%;
    text-align: center;
    margin: auto;
}
.picture p{
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.picture img{
    width: 90%;
    max-width: 950px;
}